// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background: url(../assets/img/bg.jpg) center center no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 45px;
    left: 10px;
    width: 250px;
    height: 75px;
    background: url(../assets/img/logo-small.png) top left no-repeat;
    z-index: 10;
    background-size: cover;
  }
  &:after {
    content: '';
    position: absolute;
    top: initial !important;
    bottom: 46px;
    left: 0;
    right: 0;
    z-index: 1;
    background: url(../assets/img/footer-img.png)center center repeat-x;
    background-size: contain;
    width: 100% !important;
    height: 71px !important;
  }
}
.scroll-content {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.button {
  box-shadow: none;
}
